.Card_card {
  background-color: white;
  border: 1px solid #eee;
  box-shadow: 2px 2px 3px 0px #ccc;
  margin: 1em;

  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: "content" "actions";
  grid-gap: 5px;
}

.Card_contents {
  grid-area: content;
  margin: 1em;
}

.Card_contents > :first-child {
  margin-top: 0;
}

.Card_action-row {
  padding: 0.5em;
  display: grid;
  grid-gap: 10px;
  margin: 2px 0px 0px;
  grid-auto-columns: auto;
  grid-template-columns: 1fr auto;
  grid-area: actions;
  grid-template-areas: "none .";
  background-color: #f8f8f8;
  grid-auto-flow: column;
}

.Card_action-row .Card_filler {
  grid-area: none;
}
