.vs
bin
obj
node_modules
*.user
*.dbmdl
*.jfm
.vscode
.docker-yarn-cache
linux-node-modules
*.local.*

/git-credentials*.txt
/configuration*.json
!/configuration.sample.json
/sql-credentials*.txt
/sql-eula.txt
/psql-credentials*.txt
!/psql-credentials.sample.txt
!/psql-credentials-docker.sample.txt