version: '3.1'

services:
  gitautomation:
    image: gitautomation
    build:
      context: ./GitAutomation
      dockerfile: Dockerfile
    secrets:
      - gitcredentials
      - configuration.json
    ports: 
      - "80"
#    networks:
#      - backend
  gitautomationsql:
    image: gitautomation-sql
    build:
      context: ./GitAutomation.Sql
      dockerfile: Dockerfile
    secrets:
      - sqlcredentials
      - sqleula
#    ports:
#      - "1433"
#    networks:
#      - backend


secrets:
  gitcredentials:
    file: ./git-credentials.txt
  sqlcredentials:
    file: ./sql-credentials.txt
  sqleula:
    file: ./sql-eula.txt
  configuration.json:
    file: ./configuration.json

#networks:
#  backend:
