.TextLine_line {
  display: inline-block;
  width: 70%;
  height: 1.3em;
  background-color: #eee;
}

.TextLine_paragraph {
  display: inline-block;
  width: 100%;
  height: 1.3em;
  background-color: #eee;
}
